.markSelector{
    padding: 20px;
}
.containerFrame{
	border: 1px solid;
  	color:gray;
    height:250px;
    position:relative;
}
.leftFrame{
    color:gray;
    float:left;
    height:250px;
}
 
.leftFrameUl {
    position:absolute;
    bottom:15px;
}
.leftFrameUl > li{
    display:inline;
    margin:2px;
}

.rightFrame{
	border-left: 1px solid;
  	color:gray;
  	float:right;
    height:250px;
}

.rightFrameUl > li{
    display:block;
    margin:2px;
    margin-right:20px;
}

