.markSelector{
    padding: 20px;
}
.containerFrame{
	border: 1px solid;
  	color:gray;
    position:relative;
}
.leftFrame{
    color:gray;
    float:left;
    height:250px;
}
 
.leftFrameUl {
    position:absolute;
    bottom:15px;
}
.leftFrameUl > li{
    display:inline;
    margin:2px;
}

.rightFrame{
  	color:gray;
  	float:right;
}

.rightFrameUl > li{
    display:block;
    margin:2px;
    margin-right:20px;
}

.btnMargin{
    margin: 5px;
    border: 1px solid;
}

.markControlHeight{
    height:500px;
}
.addToCarButtonTopMargin{
    padding-top: 8px;
}

@media (max-width: 800px) {
    .title {
      font-size: 0.7.3;
    }

    .subtitle{
        font-size: 0.5.3rem;
    }
  }

.btnAddToCart {display:inline-block !important;margin-right:10px; width:135px;} 
.btnToDetail {display:inline-block !important; width:135px; }